#containerElement {
    display : grid
}

.taskContainer{
    display: inline-flex;
    margin: .5em;
}

.task {
    font-weight: bold;
    margin: 0;
    width: 120px;
}

.taskInput {
    border: 2px solid black;
}

.taskInput.invalidResult{
    border: 2px solid red;
    /* light red */
    background-color: #ffcccc;
}

.taskInput.validdResult{
    border: 2px solid green;
    /* light green */
    background-color: #ccffcc;
}


.number {
    margin-right: .5em;
    width: 20px;
}
.error {
    color: red;
    font-weight: bold;
    font-size: large;
}